/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    font-size: 18px;
}

/* Section : Hero */
.hero {
    height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background: linear-gradient(to left, black, transparent);
}
/* ############ Using position ############ */
/* .hero video {
    position: absolute;
    z-index: -1;
    동영상은 반드시 아래로 내릴 것
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* ############ Using object-fit ############ */
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* css3 부터 지원되는 기능 IE에서 안됨 */
}

.hero .heading {
    text-align: center;
    width: 60%;
    color: #fff;
}
.hero .heading h1 {
    text-align: center;
    font-weight: 500;
    line-height: 1.6em;
    font-size: 2em;
}
.hero .heading h1 span {
    display: block;
    color: crimson;
}


/* section : Content */
.content {
    padding: 80px 0;
    display: flex;
    justify-content: center;
}
.content .inner {
    width: 1280px;
    display: flex;
    gap: 70px;
}
.content .inner div {
    flex: 1;
}